
#contacth2 {
    color:brown;
    font-size: 32px;
}
.contact input[type="text"] {
    width:200px;
    border:1px solid black;
    border-radius:5px;
    margin:5px;
    outline:none;
    background-color: brown;
    color:white;
}
.contact input[type="text"]:focus {
    border:1px solid black;
    border-radius:5px;
    color:white;
}
input::placeholder {
  color: white;
}
.contact textarea {
    outline:none;
    border:1px solid black;
    min-width:300px;
    min-height:100px;
    max-width: 600px;
    max-height: 600px;
    background-color: brown;
    color:white;
}
textarea::placeholder {
    color: white;
    width:80%
}
.contact button {
border-radius:5px;
background-color: brown;
color:white;
}